@import "../../variables/variables.scss";
@import "../../mixins/mixins.scss";

.camera {
  @include MarginPadding;
  width: 100%;
  background-color: $blackColor;
  display: grid;
  grid-template-areas:
    "blockName foto"
    "title foto"
    "link foto"
    "feedback1 feedback2"
    "name1 name2"
    "mail1 mail2";
  @include screen1440px {
    @include tableSectionFlex;
  }

  &__blockName {
    @include MarginPadding($margin: 50px 0 50px 54px);
    @include fontRegular(18px, 28px);
    grid-area: blockName;
    color: $whiteColor;
    text-transform: uppercase;
    @include screen1440px {
      @include tabletBlockName;
    }
  }
  &__title {
    @include MarginPadding($margin: 0 81px 359px 50px);
    @include fontRegular(122px, 122.4px);
    max-width: 617px;
    grid-area: title;
    color: $whiteColor;
    @include screen1440px {
      @include tabletTitle;
    }
  }
  &__text {
    @include MarginPadding($margin: 0 0 180px 54px);
    @include fontRegular(18px, 28px);
    color: $whiteColor;
    grid-area: link;
    max-width: 400px;
    text-transform: uppercase;
    @include screen1440px {
      @include tabletBlockName;
      margin-bottom: 180px;
    }
  }
  &__foto {
    @include MarginPadding($margin: 50px 50px 50px 0);
    grid-area: foto;
    @include screen1440px {
      @include tabletFoto;
    }
  }
  &__feedbackText {
    @include MarginPadding($margin: 0 0 60px 50px);
    @include fontRegular(43px, 43.2px);
    color: $whiteColor;
    &_1 {
      @include MarginPadding($margin: 0 172px 60px 50px);
      max-width: 526px;
      grid-area: feedback1;
      @include screen1440px {
        @include tableText;
        max-width: 526px;
        margin-left: 40px;
      }
    }
    &_2 {
      @include MarginPadding($margin: 0 auto 60px 0);
      max-width: 497px;
      grid-area: feedback2;
      @include screen1440px {
        @include tableText;
        max-width: 526px;
        margin-left: 40px;
      }
    }
  }
  &__feedbackName {
    @include MarginPadding($margin: 0 0 10px 50px);
    @include fontRegular(18px, 28px);
    color: $whiteColor;
    &_1 {
      grid-area: name1;
      @include screen1440px {
        @include tableText;
        margin-bottom: 10px;
      }
    }
    &_2 {
      margin-left: 0;
      grid-area: name2;
      @include screen1440px {
        @include tableText;
        margin-bottom: 10px;
      }
    }
  }
  &__feedbackMail {
    @include MarginPadding($margin: 0 0 50px 50px);
    @include fontRegular(14px, 24px);
    color: $whiteColor;
    &_1 {
      grid-area: mail1;
      @include screen1440px {
        @include tableText;
        max-width: none;
        width: calc(100% - 80px);
        padding-bottom: 60px;
        border-bottom: 1px solid #ffffff;
      }
    }
    &_2 {
      grid-area: mail2;
      margin-left: 0;
      @include screen1440px {
        @include tableText;
        padding-bottom: 40px;
        margin-bottom: 0;
      }
    }
  }
}
