@import "../../variables/variables.scss";
@import "../../mixins/mixins.scss";

.fotoCourse {
  @include MarginPadding;
  width: 100%;
  background-color: $whiteColor;
  display: grid;
  grid-template-areas:
    "title foto"
    "text foto"
    "button foto";
  @include screen1440px {
    @include tableSectionFlex;
  }

  &__title {
    @include MarginPadding($margin: 50px 0 60px 48px);
    @include fontRegular(100px);
    line-height: 110px;
    grid-area: title;
    color: $blackColor;

    @include screen1440px {
      @include tabletTitle;
    }
  }

  &__text {
    @include MarginPadding($margin: 0 0 170px 54px);
    @include fontRegular(20px);
    color: $blackColor;
    line-height: 118%;
    grid-area: text;
    max-width: 469px;
    @include screen1440px {
      @include tableText;
    }
  }
  &__button {
    @include MarginPadding($margin: 0 0 50px 50px);
    @include elementsNoStyles;
    @include fontRegular(18px);
    @include flex($justify: center, $alignItems: center);
    @include buttonDesctopStyle;
    grid-area: button;
    @include screen1440px {
      @include tabletButton;
    }
  }
  &__foto {
    @include MarginPadding($margin: 50px 50px 50px 0);
    grid-area: foto;
    @include screen1440px {
      @include tabletFoto;
    }
  }
}