@import "../../variables/variables.scss";
@import "../../mixins/mixins.scss";

.sing-up {
  @include MarginPadding;
  width: 100%;
  background-color: $redColor;
  @include flex(
    $direction: column,
    $justify: flex-start,
    $alignItems: flex-start
  );

  &__title {
    @include MarginPadding($margin: 50px 0 120px 229px);
    @include fontRegular(120px, 120px);
    max-width: 685px;
    color: $whiteColor;
    position: relative;
    &::before { 
      content: "";
      width: 129px;
      height: 95px; 
      background: url(https://s345vla.storage.yandex.net/rdisk/bcb196654288f6cc0f08da362d6b04d5b268971175464604e8f4b38cb7b8c7ab/616d8ef0/jFGrN-sFptMlepfW19_DQxBEaSaNShXfYbgZq7lFC45oZCsp4l7nekCY5vJs81ea079870F6R2Qhll2Yf9UF7g==?uid=556860284&filename=arrow-footer.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=556860284&fsize=625&hid=011f7c002583c425b6c09de60e11e8b0&media_type=image&tknv=v2&etag=5dcef709c9e50568c83aca891c61cab3&rtoken=zbRZgRZEiCIY&force_default=yes&ycrid=na-e70efe9111f019d62b477ad71e53ac43-downloader17h&ts=5cea1fa4d9c00&s=87a80a6467a69fd27f614aa30d659e1585678ce404ccf59f5c8657f3be58b821&pb=U2FsdGVkX1-9I5vxSjdGhH5cu3JviuVeBSzoCMmXJ7poYWeAQuMBBST2RneHYTtMq1DcD4M8YsU_AkHleyyAExDar7ozQ2B1Mx2LyP-w9ic);
      background-size: cover;
      position: absolute;
      left: -180px;
      top: 10px;
    }

      // @include MarginPadding($margin: 60px 50px 0 50px);
      // width: 129px;
  }
  &__inputs {
    @include MarginPadding;
    @include flex($direction: row, $alignItems: flex-start);
    width: 100%;
  }
  &__input {
    @include MarginPadding($margin: 0 0 86px 234px);
    padding-left: 20px;
    width: 348px;
    height: 46px;
    border: 2px solid $blackColor;
    border-radius: 8px 0 0 8px;
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    -khtml-border-radius: 8px 0 0 8px;
    background: $whiteColor !important;
    outline: none;
    color: $blackColor;
    @include fontRegular(14px, 24px);
  }
  &__button {
    @include MarginPadding($margin: 0 auto 0 0);
    @include elementsNoStyles;
    @include fontRegular(14px, 24px);
    @include flex($justify: center, $alignItems: center);
    @include buttonDesctopStyle;
    border: 2px solid $blackColor;
    border-radius: 0 8px 8px 0;
    border-left: none;
    height: 50px;
    &:hover {
      @include fontBold(14px, 24px);
    }
  }
  &__since {
    @include MarginPadding($margin: 0 auto 0 50px, $padding: 0 0 50px 0);
    @include fontRegular(15px, 24px);
    color: $whiteColor;
  }
}

@media (max-width: 1439px) {
  .sing-up {
    @include tableSectionFlex;
    &__title {
      @include tabletTitle;
      margin-bottom: 190px;

      font-size: 100px;
      line-height: 100px;
      max-width: 571px;
      &::before {
        display: none;
      }
    }
    &__since {
      margin: 0 0 40px 40px;
      align-self: flex-start;
    }
    &__button {
      @include tabletButton;
      margin-left: 0;
    }
    &__input {
      margin: 0 0 80px 40px;
    }
  }
}

@media (max-width: 700px) {
  .sing-up {
    padding-top: 40px;
    max-width: 100%;
    &__title {
      border-top: white solid 1px;
      @include fontRegular($fontSize: 48px, $lineHeigth: 50px);
      @include MarginPadding($margin: 0 20px 200px 20px, $padding: 20px 0 0 0);
      width: calc(100% - 40px);
    }
    &__since {
      @include phoneText;
      @include MarginPadding($margin: 0 auto 20px 20px);
    }
    &__inputs {
      @include MarginPadding;
      @include flex($direction: row, $alignItems: flex-start);
      width: 100%;
    }
    &__input {
      @include MarginPadding($margin: 0 0 40px 20px, $padding: 0 0 0 20px);
      min-width: 175px;
      height: 46px;
      @include fontRegular(11px, 24px);
    }
    &__button {
      @include MarginPadding($margin: 0 20px 40px 0);
      @include fontRegular(11px, 24px);
      height: 50px;
      &:hover {
        @include fontBold(11px, 24px);
      }
    }
  }
}
