@import "../../variables/variables.scss";
@import "../../mixins/mixins.scss";

.studyComposition {
  @include MarginPadding;
  max-width: 100%;
  background-color: $yellowColor;
  display: grid;
  grid-template-areas:
    "blockName foto"
    "title foto"
    "text_1 foto"
    "text_2 foto"
    "button foto"
    "rules rules";
  @include screen1440px {
    @include flex(
      $direction: column,
      $justify: flex-start,
      $alignItems: center,
      $alignContent: center
    );
    max-width: 100%;
  }

  &__blockName {
    @include MarginPadding($margin: 50px 0 50px 54px);
    @include fontRegular(18px, 28px);
    grid-area: blockName;
    color: $blackColor;
    text-transform: uppercase;
  }
  &__title {
    @include MarginPadding($margin: 0 292px 100px 50px);
    @include fontRegular(64px, 64px);
    max-width: 400px;
    grid-area: title;
    color: $blackColor;
    @include screen1440px {
      max-width: 624px;
      margin: 40px auto 60px 38px;
    }
  }
  &__text {
    @include MarginPadding($margin: 0 0 20px 54px);
    @include fontRegular(18px, 28px);
    color: $blackColor;
    grid-area: text_1;
    max-width: 400px;
    &_link {
      @include fontBold(18px, 28px);
      @include elementsNoStyles;
      color: $blackColor;
    }
    @include screen1440px {
      max-width: 400px;
      margin: 0 auto 20px 44px;
    }
  }
  &__text_2 {
    @include MarginPadding($margin: 0 0 198px 54px);
    @include fontRegular(18px, 28px);
    color: $blackColor;
    grid-area: text_2;
    max-width: 400px;
    @include screen1440px {
      max-width: 400px;
      margin: 0 auto 60px 44px;
    }
  }
  &__button {
    @include MarginPadding($margin: 0 0 0 50px);
    @include elementsNoStyles;
    @include fontRegular(18px);
    @include flex($justify: center, $alignItems: center);
    @include buttonDesctopStyle;
    grid-area: button;
    @include screen1440px {
      max-width: 100%;
      margin: 0 auto 50px 40px;
    }
  }
  &__foto {
    @include MarginPadding($margin: 50px 50px 50px 0);
    grid-area: foto;
    @include screen1440px {
      max-width: 90%;
      margin: 0 40px 60px 40px;
    }
  }

  &__rules {
    @include MarginPadding($margin: 100px 54px 50px 54px);
    @include flex($direction: row, $justify: space-between, $alignItems: top);
    grid-area: rules;
    @include screen1440px {
      max-width: 100%;
      margin: 0 40px 40px 40px;
      @include flex($direction: column, $justify: flex-start, $alignItems: center);
    }
  }
  &__compositionRule {
    @include MarginPadding;
    width: 291px;
    @include fontRegular(18px, 28px);
    @include elementsNoStyles;
    cursor: none;
    @include screen1440px {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;
      border-bottom: #000000 solid 1px;
      &:last-of-type{
        margin-bottom: 40px;
        border-bottom: none;
      }
    }
  }
}